<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Member Form</title>
</head>
<body>
  <div class="container-sm">
    <h1>Add Member</h1>
    <a href='/admin/clubmember' button type='submit'>Return to ClubMember Page</a> <br>

    <form action="/admin/clubmember/add" method="POST"> <br>
<!--The / link to the browser page determined where the form is located on the page.-->
      <label for="id">Team ID:</label>
      <select id="TeamID" class="form select">
        <option selected>Select a TeamID</option>
          {% for selectid in team %}
          <option value="{{selectid[0]}}">{{selectid[1]}}</option>
          {% endfor %}
      </select> <br> <br/>
      <label for="MemberFirstName">First Name:</label>
      <input type="text" id="MemberFirstName" name="MemberFirstName" required/> <br> <br>
      <label for="MemberLastName">Last Name:</label>
      <input type="text" id="MemberLastName" name="MemberLastName" required/> <br> <br>
      <label for="Address1">Address 1:</label>
      <input type="text" id="Address1" name="Address1" required/> <br> <br>
      <label for="Address2">Address 2:</label>
      <input type="text" id="Address2" name="Address2"/> <br> <br>
      <label for="City">City:</label>
      <input type="text" id="City" name="City" required/> <br> <br>
      <label for="Email">Email:</label>
      <input type="text" id="Email" name="Email" required/> <br> <br>
      <label for="Phone">Phone:</label>
      <input type="text" id="Phone" name="Phone" required/> <br> <br>
      <label for="Birthdate">Birthdate:</label>
      <input type="date" id="Birthdate" name="Birthdate" required/> <br> <br>
      <p>Membership Status</p> 
      <div class="form-check">
        <input class="form-check-input" type="radio" id="MembershipStatus" name="MembershipStatus" value="0"/> 
        <label class="form-check-label" for="MembershipStatus">Inactive</label> <br>
        <input class="form-check-input" type="radio" id="MembershipStatus" name="MembershipStatus" value="1"checked/> 
        <label class="form-check-label" for="MembershipStatus">Active</label> <br> <br>
      </div>
      <p>Admin Access</p>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="AdminAccess" name="AdminAccess" value="0"checked/> 
        <label class="form-check-label" for="AdminAccess">0</label> <br>
        <input class="form-check-input" type="radio" id="AdminAccess" name="AdminAccess" value="1"/> 
        <label class="form-check-label" for="AdminAccess">1</label> <br>
      </div> <br>

      <input type="Submit"/> 
      <input type="Reset"/>
<!--Create a form for admin to insert new details of a member.-->
    </form>
  </div>
</body>    
</html>