<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://getbootstrap.com/docs/5.0/forms/select/" rel="stylesheet">
    <title>Rugby Club</title>
</head>
<body>
    <h1>Home Page </h1>
  <form action="/" method="POST">
    <label for="Name">Member Name</label>
    <select name='members' class="form-select" aria-label="Default select example">
      <option selected>Select a name</option>
        {% for member in Members %}
        {% if member[3]==0 %}
        <option value ="/member?MemberID={{member[2]}}">{{member[0] ~ ' ' ~ member[1]}}</option>
        {% else %}
        <option value ="/admin">{{member[0]}} {{member[1]}}</option>  
        {% endif %}
        {% endfor %}
    </select>
    <input type="submit" value="Login" />
  </form>
</body>
</html>