<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://getbootstrap.com/docs/5.0/forms/select/" rel="stylesheet">
    <title>Rugby Club</title>
</head>
<body>
    <h1>Home Page </h1>
  <form action="/members" method="POST">
    <label for="Name">Member Name</label>
    <select class="form-select" aria-label="Default select example">
      <option selected>Select a name</option>
        {% for member in Members %}
        <option value = "Members">{{member}}</option>
          <li>
            {% if member[12]==0 %}
            <a href="/members?MemberID={{member[0]}}">{{member[3]}} {{member[4]}}</a>
            {% endif %}
            {% if member[12]==1 %}
            <a href="/admin">{{member[3]}} {{member[4]}}</a> <!--do I need ? for the /admin to get the information from mySQL?-->
            {% endif %}
          </li>
        {% endfor %}
    </select>
    <input type="submit" value="Login" />
  </form>
    <!--<div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Select a name
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        {% for member in Members %}
          <li>
            {% if member[12]==0 %}
            <a href="/members?MemberID={{member[0]}}">{{member[3]}} {{member[4]}}</a>
            {% endif %}
            {% if member[12]==1 %}
            <a href="/admin">{{member[3]}} {{member[4]}}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>-->
    
      <!--<ul>
        <li>
          <form action="/members" method="POST">
            <label for="Name">Member Name</label>
            <select name="MemberID" id="Name">
              <option value="Beauden Barrett">Select a name</option>
              <option value="Beauden Barrett">Beauden Barrett</option>
              <option value="Aaron Smith">Aaron Smith</option>
              <option value="Antoine Dupont">Antoine Dupont</option>
              <option value="Grant Fox">Grant Fox</option>
            </select>
            <input type="submit" value="Login" />
          </form>
        </li>
      </ul>-->
</body>
</html>