<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Members</title>
</head>
<body>
  
    <h1>Member Page </h1>

    {% block content %}

    <p>Club News</p>
    <table class="table" action="/clubnews" method="GET">
      <thead class="thead-dark">
        <tr>
        <th>
          {% for n in News %}
          {{ n }}
          {% endfor %}
        </th>
        </tr>
      </thead>
        <tbody>
          <tr>
          <td>
            {% for News in ClubNews %}
            {% for n in News %}
            {{ n }}
            {% endfor %}
            {% endfor %}
          </td>
          </tr>
        </tbody>
    </table>

    <table class="table" action="/members" method="GET">
      <thead class="thead-dark">
        <tr>
        <th>
          {% for y in clubmember %}
          {{ y }}
          {% endfor %}
        </th>
        </tr>
      </thead>
        <tbody>
          <tr>
          <td>
            {% for member in Members %}
            {% for x in member %}
            {{ x }}
            {% endfor %}
            {% endfor %}
          </td>
          </tr>
        </tbody>  
    </table>

    <button type="button">Edit detail</button> 

    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
        <th>
          {% for entry in fixturecolumn %}
          {{entry}}
          {% endfor %}
        </th> 
        </tr>
      </thead> <!--A for loop to return the table column data-->
        <tbody>
          <tr>
          <td>
            {% for Fixture in Fixtureresult %}
            {% for entry in Fixture %}
            {{entry}}
            {% endfor %}
            {% endfor %}
          </td>
          </tr>
        </tbody> <!--Another for loop to return the table row data-->
    </table>
        
    {% endblock %} 
</body>
</html>