<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Add New Team</title>
</head>
<body>
  
    <h1>Add New Team</h1>
    <a href='/admin' button type='submit'>Return to Admin Page</a> <br>
    <form action="/admin/newteam" method="POST"> <br>

      <label for="ClubID">Club ID:</label>
      <select id="ClubID" name="ClubID" class="form select">
        <option selected>Select a ClubID</option>
          {% for selectgrade in choosegrade %}
          <option value="{{selectgrade[0]}}">{{selectgrade[0]}}</option>
          {% endfor %}
      </select> <br> <br/>
      <label for="TeamName">Team Name:</label>
      <input type="text" id="TeamName" name="TeamName" required/> <br> <br>
      <label for="TeamGrade">Team Grade:</label>
      <select id="TeamGrade" name="TeamGrade" class="form select">
        <option selected>Select a Grade</option>
          {% for selectgrade in choosegrade %}
          <option value="{{selectgrade[1]}}">{{selectgrade[1]}}</option>
          {% endfor %}
      </select> <br> <br/>

      <input type="Submit" value='Add'/>
      <input type="Reset"/>
<!--A form and new route created for admin to add a new team to the club. 
  With POST method allow submit the form through the system and update the Teams table in the database.-->    
    </form>
    
</body>
</html>